@font-face {
    font-family: 'Belwe';
    src: url(/fonts/BelweBoldBT.ttf);
}

@font-face {
    font-family: 'Garamond';
    src: url(fonts/ITCGaramondStd-LtNarrowIta.ttf);
}

@font-face {
    font-family: 'Compact';
    src: url(fonts/EurostileExtendedBlack.ttf);
}

html {
    width: 100vw;
    height: 100vh;
    margin:auto;
}

body {
    background-image: url("background.png");
    background-size: cover;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    }

a {
    text-decoration: none;
    color:black;
  }

h1 {
    text-align: center;
    font-family: "Belwe";
    font-size:40px;
    margin-bottom:30px;
}

.menu {
    width:100%;
    text-align: center;
  }

ul {
    padding: 0;
    width: 70%;
    margin: auto;
    margin-top:40%;
    align-items: center;
  }

li {
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 5px;
    display:block;
    text-align: center;
    margin:auto;
    margin-top:8px;
    font-size: larger;
    font-family: 'Garamond';
    width:50%;
  }
